<%= render(ScubananaWeb.LayoutView, "navbar.html", conn: @conn, current_user: @current_user) %>
<main role="main" class="pt-48 container mx-auto">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
